body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-image: linear-gradient(to left, rgb(11, 11, 96), rgb(23, 23, 159));
}

.calculatorContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 380px;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

button {
    width: 90px;
    height: 100px;
    font-size: 30px;
    font-weight: 1000;
    margin: 2px;
    background-color: rgb(194, 193, 193);
}

#Clear {
    width: 180px;
    height: 60px;
    color: red;
}

#textEntry {
    width: 360px;
    height: 30px;
    font-size: 30px;
    font-weight: 600;
    padding: 7%;
    color: black;
    background-color: antiquewhite;
    border-radius: 20px;
}